<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>
            <ion-icon icon="folder"></ion-icon>
            <ion-label> /{{fileSystemEntry.dataSource.id}}{{fileSystemEntry?.path}} </ion-label>
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
    <ng-template #dynamic></ng-template>
</ion-content>
