<ion-header translucent>
    <ion-toolbar>
        <ion-title>Integracja z Bitbucket</ion-title>
        <ion-buttons slot="end">
            <ion-button (click)="dismissModal()">Zamknij</ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content fullscreen>
    <ion-slides #Slides [options]="slideOpts"
                pager="true"
                style='height: 100%; width: 100%; object-fit: contain'>
        <ion-slide style='height: 100%; width: 100%; display:block;'>
            <p>
                Pierwszym krokiem do korzystania z danych z serwisu Bitbucket jest zalogowanie się w tym serwisie.
            </p>
            <p>
                Za chwilę otworzy się nowe okno, które poprosi o zgodę na wykorzystanie danych w tej aplikacji.
                Twoje dane nie są nigdzie przesyłane - zostają tylko w aplikacji.
            </p>
            <ion-button (click)="authorize()">Zaloguj się</ion-button>
        </ion-slide>
        <ion-slide style='height: 100%; width: 100%; display:block;'>
            <ion-list>
                <ion-list-header>
                    <ion-label>Wybierz workspace:</ion-label>
                </ion-list-header>
                <ion-item (click)="selectWorkspace(workspace)"
                          *ngFor="let workspace of workspaces"
                          button="true" detail>
                    <ion-ripple-effect></ion-ripple-effect>
                    <ion-label>{{workspace.name}}</ion-label>
                </ion-item>
            </ion-list>
        </ion-slide>
        <ion-slide style='height: 100%; width: 100%; display:block;'>
            <ion-list>
                <ion-list-header>
                    <ion-label>Wybierz repozytorium:</ion-label>
                </ion-list-header>
                <ion-item (click)="selectRepository(repository)"
                          *ngFor="let repository of repositories"
                          button="true" detail>
                    <ion-ripple-effect></ion-ripple-effect>
                    <ion-label>{{repository.name}}</ion-label>
                </ion-item>
            </ion-list>
        </ion-slide>
    </ion-slides>
</ion-content>
